.box{
    width: fit-content;
    height: fit-content;
    background: #06421f ;
    margin: 20px;
    padding: 1%;
    border-top: 10px solid #0bdb62;
    border-bottom: 10px solid #0bdb62;;
}

p{
    font-size:large;
    color: greenyellow;
}

h1{
    color: greenyellow;
}