body{
    margin: 0 ;
}

.box {
    width: 280px;
    background: #e2e2e2;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 0  50px 0px #0007;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 20px;
    color: #444;
}

h2{
    text-shadow: 0 0 12px #f88;
    font-size: 20px;

}

p{
    list-style: none;
    text-align: justify;
    line-height: 1.4;
    font-size: 13px;
    text-shadow: 0 0 5px red;
}

img {
    width: 160px;
    border-radius: 100%;
    box-shadow: 0 0 10px 1px #000;

}