h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-align: center;
}
h2{
    color: blue;
    font-family:sans-serif;
    font-style: oblique;
    text-align: left;
    text-decoration: underline;
}
p{
    color: rgb(255, 0, 0);
    font-family:  JosefinSans;
    font-size: 25px;
    font-weight:bold;
    font-style: normal;
    text-align: justify;
    text-decoration:none;
    line-height:1;
    text-transform:capitalize;
}