body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.card{
    background-color: rgb(181, 112, 86);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0 0 22px #0007;
    border-radius: 8px;
}
.card_tilte{
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
}
.card_subtitle{
    font-size: 18px;
    font-weight: lighter;
    font-style: oblique;
    letter-spacing: 5px;
    margin: 0;
    margin-top: 5px;
}
.card_contetn{
    font-size: 20px;
    text-align: middle;
    padding: 10px;
    margin-bottom: 0;
}

.card_img{
    width: 100px;
    border-radius: 50%;

}




